<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AbrazaPet</title>
  <!--BOOTSTRAP 4-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <!--Font awesome-->
  <script src="https://kit.fontawesome.com/2e23dd5dfa.js" crossorigin="anonymous"></script>
</head>

<style>
  .botones {
    background: rgb(24, 154, 180);
    background: linear-gradient(90deg, rgba(24, 154, 180, 1) 13%, rgba(5, 68, 94, 1) 59%);
    box-shadow: 2px 2px 5px #000000;
  }

  .btn {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }

  .navbar {
    background: rgb(24, 154, 180);
    background: linear-gradient(90deg, rgba(24, 154, 180, 1) 0%, rgba(5, 68, 94, 1) 12%);
    box-shadow: 2px 2px 5px #000000;

  }

  .iconos {
    float: left;
  }
  .imagenuser {
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 5px #000000;
  }

  .navboton {
    float: right;
  }
</style>

<body>
  <!--navegación-->
  <!-- Toggler/collapsibe Button -->

  <nav class="navbar navbar-dark sticky-top">
    <div class="container justify-content-center">
      <!-- Brand -->
      <a class="text-center text-white" href="/usuario"><b>Perfil</b></a>
    </div>
  </nav>



  <!--imagen y saludo-->
  <div class="container text-center mt-2">
    <div class="row">
      <div class="col-lg-6">
        <img class="imagenuser"
                  src="imagenes/<%= usuario[0].imagen_usuario%>"
                  alt="Logo <%= usuario[0].imagen_usuario%> " />
      </div>
      <div class="col-lg-6">
        <h3>Hola <%= usuario[0].nombres_usuario%>
        </h3>
      </div>
    </div>
    <div class="row justify-content-center m-3">
      <div class="card border-secondary">
        <div class="card-body">
          <div class="row">
            <b>Telefono: </b>
            <%= usuario[0].telefono_usuario%>
          </div>
          <hr>
          <div class="row"><b>Email: </b>
            <%= usuario[0].correo_usuario%>
          </div>
          <hr>
          <div class="row"><b>Dirección: </b>
            <%= usuario[0].calle_usuario%>
              <%= usuario[0].num_dir_usuario%>, <%= usuario[0].region_usuario%>
          </div>
        </div>
      </div>
    </div>

    <!--botones-->
    <div class="container">
      <a href="">
        <div class="card">
          <button type="button" class="btn btn-outline-info">
            <h4><b>Editar Datos</b></h4>
          </button>
        </div>
      </a>
      <a href="/mismas/<%= usuario[0].id_usuario%>">
        <div class="card">
          <button type="button" class="btn btn-outline-info">
            <h4><b>Mis Mascotas</b></h4>
          </button>
        </div>
      </a>
      <a href="/adpub/<%= usuario[0].id_usuario%>">
        <div class="card">
          <button type="button" class="btn btn-outline-info">
            <h4><b>Mis Publicaciones</b></h4>
          </button>
        </div>
      </a>

      
    </div>


    <div class="botones d-flex justify-content-center fixed-bottom">
      <a href="/user"><button type="button" class="btn btn-outline-light"><i class="fas fa-user fa-3x"></i></button></a>
      <a href="/"><button type="button" class="btn btn-outline-light"><i class="fas fa-paw fa-3x"></i></button></a>
      <a href=""><button type="button" class="btn btn-outline-light"><i
            class="fas fa-map-marker-alt fa-3x"></i></button></a>
    </div>



    <!--BOOTSTRAP 4 Scripts-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
</body>

</html>